@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>OA Login</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/home.css" rel="stylesheet" />

</head>
<body>
    <div style="height:40px;">
        <div style="float:left;">
            小挂件
        </div>
        <div style="float:right">
            <a href="~/Login/Index">登录</a>
            <a>注册</a>

        </div>
    </div>
    <header>
        <div>
            <div style="text-align:center;margin-top:40px;margin-bottom:25px;">
                <h2>Share Club</h2>
            </div>
        </div>
    </header>
    <div class="search_container">
        <div class="search_item">
            <input class="search_input" type="text" />
            <input class="search_button" type="button" value="搜索" />
        </div>

    </div>
    <div>
        <div class="main_container">
            <div class="main_item"></div>
            <div class="main_item"></div>
            <div class="main_item"></div>
            <div class="main_item"></div>
            <div class="main_item"></div>
            <div class="main_item"></div>
            <div class="main_item"></div>
        </div>
    </div>
</body>
</html>